@model CMFLMS.Models.Library.Knit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Knit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KnitType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KnitType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KnitId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
