@*@using PagedList.Mvc;
@using PagedList;
@using Microsoft.AspNet.Identity;*@
@model IEnumerable<CMFLMS.Models.Library.Fabrics>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@
<h3>Fabric Sample List</h3>
<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search View" class="form-control" />
        </div>
    </div>
</div>

@*<link href="~/Assets/css/dataTables.semanticui.min.css" rel="stylesheet" />
<link href="~/Assets/css/semantic.min.css" rel="stylesheet" />
<link href="~/Assets/css/jquery.dataTables.min.css" rel="stylesheet" />*@

@if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("MainAdmin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
@if (User.IsInRole("MainAdmin"))
{
    <p style="color:red"><b>Total Samples @ViewBag.count </b></p>
}
else
{
    <p style="color:red"><b>Showing Samples @ViewBag.TotFactoryFabric of @ViewBag.count of @ViewBag.FactoryName </b></p>

}

<table id="tblFabrics" class="table table-striped table-bordered table-hover table-condensed" style="overflow:scroll; overflow-y:scroll; width:auto">
    <thead>
        <tr >
            @if (User.IsInRole("SuperAdmin") || User.IsInRole("MainAdmin"))
            {
                <th>
                    @Html.DisplayName("Action")
                </th>
            }
            <th class="text-center">
                @Html.DisplayName("Fabric ID")
            </th>
            <th class="text-center">
                @Html.DisplayName("Composition1")
            </th>
            <th class="text-center">
                @Html.DisplayName("Composition2")
            </th>
            <th class="text-center">
                @Html.DisplayName("Composition3")
            </th>
            <th class="text-center">
                @Html.DisplayName("Composition4")
            </th>
            <th class="text-center">
                @Html.DisplayName("Composition5")
            </th>
            <th class="text-center">
                @Html.DisplayName("Quality")
            </th>
            <th class="text-center">
                @Html.DisplayName("Width (Inch)")
            </th>
            <th class="text-center">
                @Html.DisplayName("Width (cm)")
            </th>
            <th class="text-center">
                @Html.DisplayName("Weight")
            </th>
            <th class="text-center">
                @Html.DisplayName("Price")
            </th>
            <th class="text-center">
                @Html.DisplayName("Supplier")
            </th>
            <th class="text-center">
                @Html.DisplayName("Construction")
            </th>
            <th class="text-center">
                @Html.DisplayName("Yarn Count")
            </th>
            <th class="text-center">
                @Html.DisplayName("Location")
            </th>
            <th class="text-center">
                @Html.DisplayName("Knit")
            </th>
            <th class="text-center">
                @Html.DisplayName("Structure Value")
            </th>
            <th class="text-center">
                @Html.DisplayName("Colour")
            </th>
            <th class="text-center">
                @Html.DisplayName("Fabric Category")
            </th>
            <th class="text-center">
                @Html.DisplayName("Finishing Category")
            </th>

            <th class="text-center">
                @Html.DisplayName("Remarks")
            </th>
           

        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            if (ViewBag.FactoryName == item.Factories.FactoryName)
            {
                <tr class="Search">
                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("MainAdmin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.FabricsId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.FabricsId })
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.FabricId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Compisition1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Compisition2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Compisition3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Compisition4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Compisition5)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quality)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WidthInches)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WidthCm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Suppliers.SupplierName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Constructions.ConstructionType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yarns.YarnCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Locationss.LocationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Knits.KnitType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Structures.StructureValue)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Colours.ColourName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FabCats.FabricCat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinCategory.FinishCat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    
                </tr>

            }

        }
    </tbody>
</table>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
@*<script src="~/Assets/js/jquery.dataTables.min.js"></script>
<script src="~/Assets/js/dataTables.semanticui.min.js"></script>*@
@*<script src="~/Assets/js/semantic.min.js"></script>*@
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });

    //$('#tblFabrics').DataTable();
</script>
@*@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchby = Request.QueryString["searchby"], search = Request.QueryString["search"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })*@