@*@using PagedList.Mvc;
@using PagedList;*@

@model IEnumerable<CMFLMS.Models.Library.Fabrics>

@{
    ViewBag.Title = "Fabric Samples";
}
<br /><br />
<h3>Fabric Samples List</h3>
@*<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search" class="form-control" />
        </div>
    </div>
</div>*@
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p style="color:red"><b>Total Samples @ViewBag.count </b></p>
<div class="row" >
    <div class="col-md-12">
        <table id="tblFabric" class="table table-striped table-bordered table-hover table-condensed" style="width:100%" role="grid">
            <thead>
                <tr role="row">
                    @if (User.IsInRole("MainAdmin"))
            {
                        <th>
                            @Html.DisplayName("Action")
                        </th>
                    }
                    <th class="text-center">
                        @Html.DisplayName("Factory")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Product Catagory")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Fabric Id")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Supplier")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Sourcing Route")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Sustainable Product")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Quality")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Composition 1")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Composition 2")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Composition 3")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Composition 4")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Construction")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Yarn Count")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Width(Inches)")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Width(CM)")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Weight")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Price")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Location")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Knit")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Structure")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Colour")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Fabric Catagory")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Finishing Catagory")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Lead Time")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Yarn Guage")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Sourcing Type")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Created Date")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Remarks")
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr role="row">
                        @if (User.IsInRole("MainAdmin"))
                {
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.FabricsId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.FabricsId })
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Factories.FactoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProdCatagories.ProductCatagoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FabricId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Suppliers.SupplierName)
                        </td>
                        <td>
                            @{ var SourcingRoute = (item.SourcingRoute.GetValueOrDefault() ? "GSP" : "NonGSP");}
                            @Html.DisplayFor(modelItem => SourcingRoute)
                        </td>
                        <td>
                            @{ var SustainableProduct = (item.SustainableProduct.GetValueOrDefault() ? "YES" : "NO");}
                            @Html.DisplayFor(modelItem => SustainableProduct)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quality)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Compisition1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Compisition2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Compisition3)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Compisition4)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Constructions.ConstructionType)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Yarns.YarnCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WidthInches)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WidthCm)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Weight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Locationss.LocationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Knits.KnitType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Structures.StructureValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Colours.ColourName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FabCats.FabricCat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FinCategory.FinishCat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeadTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.YarnGuage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SourceTypes.SourcingTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>
                    </tr>
                                }
            </tbody>


        </table>
    </div>
</div>

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
@*<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>*@

<link href="~/Assets/css/dataTables.semanticui.min.css" rel="stylesheet" />
<link href="~/Assets/css/semantic.min.css" rel="stylesheet" />
<link href="~/Assets/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Assets/js/jquery-3.3.1.min.js"></script>
<script src="~/Assets/js/jquery.dataTables.min.js"></script>
<script src="~/Assets/js/dataTables.semanticui.min.js"></script>
<script src="~/Assets/js/semantic.min.js"></script>

<script>
    $('#tblFabric').DataTable();
</script>
@*@Html.PagedListPager(Model, page => Url.Action("MainAdminView", new { page, searchby = Request.QueryString["searchby"], search = Request.QueryString["search"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })*@