@model CMFLMS.Models.Library.Composition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Composition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompositionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompositionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompositionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
