@model IEnumerable<CMFLMS.Models.Library.ProductCatagory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductCatagoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCatagoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductCatagoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductCatagoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductCatagoryId })
        </td>
    </tr>
}

</table>
